{#
Accessible input demo
Usage example:
{% include "components/input" with {
    label: "Enter your greeting",
    value: "Hi there Crafter",
    error: "",
    isDisabled: false,
    isRequired: false,
    placeholder: "Eg: Go get crafty!",
} %}
#}

<div class="input {{ error ? 'input-has-error' }}{{ isDisabled|default ? ' input-is-disabled' }}">
    <label for="input-field" class="input-label">
        {{ label|default }}{% if isRequired|default %}<span class="input-required"> *</span>{% endif %}
    </label>
    <input id="input-field" class="input-field" value="{{ value }}" type="text"{{ placeholder|default ? ' placeholder="' ~ placeholder ~ '"' }}{{ error|default|length > 0 ? ' aria-invalid="true"' }}{{ error|default ? ' aria-describedby="input-error-message"' }}{{ isDisabled|default ? ' disabled' }}{{ isRequired|default ? ' required' }} />
    {% if error|default %}<div id="input-error-message" class="input-error-message">{{ error }}</div>{% endif %}
</div>
